<html>
    <head>
        <title>Hey amigos</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
<html>
    <head>
        <title>LiteraturaOnline</title>
    </head>
    <body>
        <div>
            <h1><a href="/">LiteraturaOnline</a></h1>
        </div>

        <div>
            <p>publicado: 19.11.2022, 16:30</p>
            <h2><a href="">Já leram OS Sofimrntos do Jovem Werther?</a></h2>
            <p>Ele se mata por ma mulher</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">O cortiço</a></h2>
            <p>palavras que resumem: dinheiro, traição e escravidão</p>
        </div>
    </body>
</html>